<div class="breadcrumb">
    <nav>
        <ol>
            <li><a href="#" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/categorias">Categorias</a></li>
            <li><a href="#" routerLink="/categorias/ebook">Ebooks</a></li>
        </ol>
    </nav>
</div>


<div class="body">
    <div class="container">

        <!--Começa aqui-->
        <div class="card">
            <div class="imgBx" data-text="Literatura Nacional">
                <img src="/assets/categorias/brazil.png" alt="icone de literatura nacional">
            </div>
            <div class="content">
                <div>
                    <h3>Literatura Nacional</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/ebook/literatura-nacional">Acesse aqui</a>
                </div>
            </div>
        </div>
        <!--Termina aqui-->


        <div class="card">
            <div class="imgBx" data-text="Literatura Estrangeira">
                <img src="/assets/categorias/estrangeira.png" alt="icone de literatura estrangeira">
            </div>
            <div class="content">
                <div>
                    <h3>Literatura Estrangeira</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/ebook/literatura-estrangeira">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Terror">
                <img src="/assets/categorias/terror.png" alt="icone de de livros de terror">
            </div>
            <div class="content">
                <div>
                    <h3>Terror</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/ebook/terror">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Fantasia">
                <img src="/assets/categorias/fantasia.png" alt="icone de livro de fantasia">
            </div>
            <div class="content">
                <div>
                    <h3>Fantasia</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/ebook/fantasia">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx" data-text="Infantil">
                <img src="/assets/categorias/infantil.png" alt="icone de livro infantil">
            </div>
            <div class="content">
                <div>
                    <h3>Infantil</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/ebook/infantil">Acesse aqui</a>
                </div>
            </div>
        </div>


    </div>
</div>