<div class="breadcrumb">
    <nav>
        <ol>
            <li><a href="#" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/categorias">Categorias</a></li>
            <li><a href="#" routerLink="/categorias/papelaria">Papelaria</a></li>
        </ol>
    </nav>
</div>


<div class="body">
    <div class="container">

        <!--Começa aqui-->
        <div class="card">
            <div class="imgBx" data-text="Papéis">
                <img src="/assets/categorias/papeis.png" alt="icone de literatura nacional">
            </div>
            <div class="content">
                <div>
                    <h3>Papéis</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/papelaria/papeis">Acesse aqui</a>
                </div>
            </div>
        </div>
        <!--Termina aqui-->


        <div class="card">
            <div class="imgBx" data-text="Tintas">
                <img src="/assets/categorias/tintas.png" alt="icone de literatura estrangeira">
            </div>
            <div class="content">
                <div>
                    <h3>Tintas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/papelaria/tintas">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Pincéis">
                <img src="/assets/categorias/pinceis.png" alt="icone de de livros de terror">
            </div>
            <div class="content">
                <div>
                    <h3>Pincéis</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/papelaria/pinceis">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Canetas e Marcadores">
                <img src="/assets/categorias/marcadores.png" alt="icone de livro de fantasia">
            </div>
            <div class="content">
                <div>
                    <h3>Canetas e Marcadores</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/papelaria/canetas">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx" data-text="Material de Modelagem">
                <img src="/assets/categorias/modelagem.png" alt="icone de livro infantil">
            </div>
            <div class="content">
                <div>
                    <h3>Material de Modelagem</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/papelaria/modelagem">Acesse aqui</a>
                </div>
            </div>
        </div>


    </div>
</div>
