<header>
    <div class="wrapper">
        <nav>
            <input type="checkbox" id="ativar-menu">
            <label for="ativar-menu" class="icone-menu"><i class="fas fa-bars"></i></label>
            <div class="conteudo">
                <div class="logo">
                    <a href="#" routerLink="/home">
                        <img src="/assets/logo/Pitangus_BookStore_LOGO_PNG.png" alt="logo-pitangus">
                    </a>
                </div>
                <ul class="categorias">
                    <li>
                        <a href="#" routerLink="/categorias/livros">Livros</a>
                    </li>
                    <li>
                        <a href="#" routerLink="/categorias/ebook">Ebooks</a>
                    </li>
                    <li>
                        <a href="#" routerLink="/categorias/papelaria">Papelaria</a>
                    </li>
                </ul>
                <ul class="menu-lateral">
                    <li>
                        <a href="#" class="categorias-link">Livros</a>
                        <input type="checkbox" id="mostrar-livros">
                        <label for="mostrar-livros">Livros</label>
                        <ul>
                            <li><a href="#" routerLink="/categorias/livros/artes-cinema">Artes e Cinema</a></li>
                            <li><a href="#" routerLink="/categorias/livros/admin">Administração</a></li>
                            <li><a href="#" routerLink="/categorias/livros/ciencias">Ciências</a></li>
                            <li><a href="#" routerLink="/categorias/livros/direito">Direito</a></li>
                            <li><a href="#" routerLink="/categorias/livros/hqs-mangas">HQs e Mangás</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="categorias-link">Ebooks</a>
                        <input type="checkbox" id="mostrar-ebooks">
                        <label for="mostrar-ebooks">Ebooks</label>
                        <ul>
                            <li><a href="#" routerLink="/categorias/ebook/literatura-nacional">Literatura Nacional</a></li>
                            <li><a href="#" routerLink="/categorias/ebook/literatura-estrangeira">Literatura Estrangeira</a></li>
                            <li><a href="#" routerLink="/categorias/ebook/terror">Terror</a></li>
                            <li><a href="#" routerLink="/categorias/ebook/fantasia">Fantasia</a></li>
                            <li><a href="#" routerLink="/categorias/ebook/infantil">Infantil</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="categorias-link">Papelaria</a>
                        <input type="checkbox" id="mostrar-papelaria">
                        <label for="mostrar-papelaria">Papelaria</label>
                        <ul>
                            <li><a href="#" routerLink="/categorias/papelaria/papeis">Papéis</a></li>
                            <li><a href="#" routerLink="/categorias/papelaria/tintas">Tintas</a></li>
                            <li><a href="#" routerLink="/categorias/papelaria/pinceis">Pincéis</a></li>
                            <li><a href="#" routerLink="/categorias/papelaria/canetas">Canetas e Marcadores</a></li>
                            <li><a href="#" routerLink="/categorias/papelaria/modelagem">Material de Modelagem</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <label class="icone-busca"><i class="fas fa-search"></i></label>
        </nav>
    </div>
</header>