<div class="breadcrumb">
    <nav>
        <ol>
            <li><a href="#" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/categorias">Categorias</a></li>
            <li><a href="#" routerLink="/categorias/livros">Livros</a></li>
        </ol>
    </nav>
</div>


<div class="body">
    <div class="container">

        <!--Começa aqui-->
        <div class="card">
            <div class="imgBx" data-text="Artes e Cinema">
                <img src="/assets/categorias/artes.png" alt="icone de artes">
            </div>
            <div class="content">
                <div>
                    <h3>Artes e Cinema</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/livros/artes-cinema">Acesse aqui</a>
                </div>
            </div>
        </div>
        <!--Termina aqui-->


        <div class="card">
            <div class="imgBx" data-text="Administração">
                <img src="/assets/categorias/adm.png" alt="icone de ebook">
            </div>
            <div class="content">
                <div>
                    <h3>Administração</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/livros/admin">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Ciências">
                <img src="/assets/categorias/frasco.png" alt="icone de papelaria">
            </div>
            <div class="content">
                <div>
                    <h3>Ciências</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/livros/ciencias">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Direito">
                <img src="/assets/categorias/direito.png" alt="icone de papelaria">
            </div>
            <div class="content">
                <div>
                    <h3>Direito</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/livros/direito">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx" data-text="HQs e Mangás">
                <img src="/assets/categorias/hq.png" alt="icone de papelaria">
            </div>
            <div class="content">
                <div>
                    <h3>HQs e Mangás</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/livros/hqs-mangas">Acesse aqui</a>
                </div>
            </div>
        </div>


    </div>
</div>

