<div class="breadcrumb">
    <nav>
        <ol>
            <li><a href="#" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/categorias">Categorias</a></li>
        </ol>
    </nav>
</div>


<div class="body">
    <div class="container">

        <!--Começa aqui-->
        <div class="card">
            <div class="imgBx" data-text="Livros">
                <img src="/assets/categorias/livro.png" alt="" class="design">
            </div>
            <div class="content">
                <div>
                    <h3>Livros</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/livros">Acesse aqui</a>
                </div>
            </div>
        </div>
        <!--Termina aqui-->


        <div class="card">
            <div class="imgBx" data-text="Ebooks">
                <img src="/assets/categorias/ebook.png" alt="" class="design">
            </div>
            <div class="content">
                <div>
                    <h3>Ebooks</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/ebook">Acesse aqui</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="imgBx" data-text="Papelaria">
                <img src="/assets/categorias/papelaria.png" alt="" class="design">
            </div>
            <div class="content">
                <div>
                    <h3>Papelaria</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" routerLink="/categorias/papelaria">Acesse aqui</a>
                </div>
            </div>
        </div>


    </div>
</div>

